<?xml version="1.0" encoding="utf-8"?>
<!-- Används för manuell deploy via Visual Studio.
     Fyll i WebPublishUrl med din Azure App Service URL.
     För automatisk deploy används GitHub Actions-workflödet istället. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>AzureAppService</PublishProvider>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>FYLL-I-DIN-APP.scm.azurewebsites.net</MSDeployServiceURL>
    <DeployIisAppPath>FYLL-I-DIN-APP</DeployIisAppPath>
    <SiteUrlToLaunchAfterPublish>https://FYLL-I-DIN-APP.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <_TargetId>AzureWebSite</_TargetId>
  </PropertyGroup>
</Project>
